/* Reset */
* {
  font-family: 'Montserrat-Regular', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  position: relative; }

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer; }

a {
  text-decoration: none; }
