$white: #fff;
$yellow: #ffc700;
$darkGray: #1b1b1b; 
$gray: #aaaaaa;
$lightYellow: #f6df80;
$green: #79BD31;
$blue: #679edc;
$lightGray: #cccccc; 
$black: #000000;
$gray2: #dddddd;
$darkYellow: #FFB001;


$tablet: 768px;
$laptop: 1024px;
$desktop: 1440px;
$desktopLarge: 1570px;

// definir h1 h2 h3 h4 p font-size pra cada media

// h4 {
//   font-size: 26px;
//   font-weight: bold;
//   text-align: center;
//   line-height: 30px;
// }

p {
  margin-bottom: 0px;
}